version: "3.3"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    restart: always
    networks:
      - humopharm

  backend:
    build: ./backend
    container_name: backend
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/appdb?schema=public
      JWT_SECRET: "supersecretjwt"
      JWT_EXPIRES_IN: "7d"
      PORT: 3000

    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: always
    networks:
      - humopharm

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    networks:
      - humopharm

volumes:
  dbdata:

networks:
  humopharm:
    driver: bridge